.row {
  margin: 1em -0.5em 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.row:before,
.row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
.col-1,
.col-2 {
  float: left;
  padding: 0 0.5em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.col-1 {
  width: 50%;
}
.col-2 {
  width: 100%;
}


dl {
  font-size: 1.1em;
  line-height: 1.2;
  -moz-columns: 2 auto;
  -webkit-columns: 2 auto;
}
dt {
  margin: 0 0 .375em;
}
dd {
  margin: 0 0 1.25em;
  min-height: 2.4em;
}


.quote-big {
  font-size: 1.4em;
  line-height: 1.2;
}

.center-image {
  display: block;
  margin: 0 auto;
}


.button {
  display: inline-block;
  padding: .8em 1.7em 0.9em;
  border-bottom: .4em solid #006c8f;
  margin-top: 0;
  text-align: center;
  text-decoration: none;
  background-color: #008cba;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease-out;
}
.button:hover,
.button:focus {
  color: #fff;
  background-color: #00ba62;
  border-color: #008f4b;
}
.button:active {
  margin-top: .4em;
  border-bottom-width: 0;
}
.no-transition {
  transition: none;
}
.cheating {
  display: inline-block;
  position: relative;
  height: 4em;
}

.clicked-notice {
  margin: 0 1em;
  font-size: .8em;
  opacity: 0;
  transition: all 200ms ease-out;
}
.clicked {
  opacity: 1;
}
.two-col-css-example pre {
  min-height: 21em;
}
.two-col-css-example .col-1:first-child pre[data-lang]::after {
  display: none;
}

img[src$='drummerhead.png'] {
  width: auto !important;
}
slides > slide:not(.nobackground)::before {
  background-image: url('../../images/drummerhead-logo-small.png');
  background-size: 20px 24px;
  opacity: .5;
}

.animated-button {
  animation-duration: 1500ms;
  animation-name: angry;
  animation-fill-mode: both;
}

@keyframes angry {
  40% {
    padding: 1.7em 1em;
    margin-left: 0;
    border: 0 solid #8f2300;
    font-size: .8em;
    border-radius: 2.2em;
    background-color: #ba2e00;
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    margin-left: 22em;
    transform: rotate(180deg);
    opacity: 0;
  }
}



.round-and-restless {
  position: absolute;
  left: 0;
  top: 0;
  width: 4em;
  height: 4em;
  border-radius: 5em;
  box-shadow: .1em .1em .1em rgba(200, 200, 200, .75);
  cursor: pointer;

  animation-name: restless;
  animation-duration: 3500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.pause-animation {
  animation-play-state: paused;
}

@keyframes restless {
  0% {
    left: 0;
    background-color: #f00;
  }
  16.66% {
    background-color: #ff7f00;
  }
  33.33% {
    background-color: #ff0;
  }
  50% {
    background-color: #0f0;
  }
  66.66% {
    background-color: #00f;
  }
  83.33% {
    background-color: #4b0082;
  }
  100% {
    left: 32em;
    background-color: #8f00ff;
  }
}
